@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Active le plugin DaisyUI + liste de thèmes (v4-style) */
@plugin "daisyui" {
  /* Choisis tes thèmes. Tu peux mettre 'all' pour tous. 
     --default  = thème par défaut
     --prefersdark = thème par défaut si media (prefers-color-scheme: dark)
  */
  themes: light --default, dark --prefersdark, cupcake, bumblebee, emerald,
    corporate, synthwave, retro, cyberpunk, valentine, halloween, garden, forest,
    aqua, lofi, pastel, fantasy, wireframe, black, luxury, dracula, cmyk, autumn,
    business, acid, lemonade, night, coffee, winter, dim, nord, sunset;
}

/* .scrollable {
  @apply overflow-y-auto;
} */

.scrollable {
  overflow-y: auto;
  max-height: 100vh;
}
